EXPO_PUBLIC_RESTAURANT_URL=http://172.19.128.1:3021/heaven-flavor/rest
EXPO_PUBLIC_RESERVATION_URL=http://172.19.128.1:3023/heaven-flavor/reser
EXPO_PUBLIC_EVENT_URL=http://172.19.128.1:3022/heaven-flavor/even
EXPO_PUBLIC_REPORT_URL=http://172.19.128.1:3024/heaven-flavor/even
EXPO_PUBLIC_AUTH_URL=http://172.19.128.1:5210/res/auth

CLOUDINARY_CLOUD_NAME=dsbibfrfc
CLOUDINARY_API_KEY=421535535627829
CLOUDINARY_API_SECRET=W_NWkBCJ9Vb1Q5TtHHIXxBY_HYU
CLOUDINARY_BASE_FOLDER=https://res.cloudinary.com/dsbibfrfc/image/upload/Heaven_flavor
CLOUDINARY_DEFAULT_AVATAR_NAME=restaurant_uur74f.jpg
